body {
  background-color: #e3e3e3;
}

<!DOCTYPE html>
<html>
<head>
  <title>DevMountain Pre Assessment</title>
  

<link rel="stylesheet" href="defaultStyles.css">
  <link 

rel="stylesheet" href="yourStyles.css">
</head>
<body>
  <div 

class="container">
    <div class="row-one">
      color: green
    </div>
    <div class="row-two">
      color: yellow
    </div>
    <div class="row-three">
      color: red
    </div>
    <div class="row-four">
      color: blue
    </div>
    
  </div>
</body>
</html>
